/* * {
    border: 1px dotted red;
} */

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 4vh;
    align-items: center;
    
}

nav button {
    background: transparent;
    color: purple;
    border: none;
}

button {
    background: purple;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

main {
    width: 80%;
    margin: 5vh auto;
    text-align: center;
}